<div class="wl-error wl-error-post">
  <section class="wl-error-content">
    <h2 class="wl-error-title">{{t "No posts"}}</h2>
    <p class="wl-error-description">{{t "Apparently there are no posts at the moment, check again later."}}</p>
  </section>
</div>