{{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" order="published_at DESC" include="tags,authors" as |related|}}
  <section class="wl-related-content">
    {{#if related}}
      <h2 id="{{t "Recommended for you"}}">{{t "Recommended for you"}}</h2>
      <div class="swiper js-related-slider">
        <div class="swiper-wrapper">
            {{#foreach related}}
                {{> "card" custom_class="swiper-slide" }}
            {{/foreach}}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    {{/if}}
  </section>
{{/get}}

