{{#get "pages" limit="2" filter="tags:[{{tags.[0].slug}}]+id:-{{id}}"  order="published_at DESC" include="tags" as |related|}}
  <section class="wl-postfeed-row wl-related-content">
    {{#if related}}
        {{#foreach related}}
            {{> "card" }}
        {{/foreach}}
    {{/if}}
  </section>
{{/get}}

