{{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" order="published_at DESC" include="tags,authors"  as |related|}}
  {{#if related}}
    <section class="wl-recommended">
      <div class="wl-container in-recommended">
        <h3 class="m-section-title in-recommended">{{t "Recommended for you"}}</h3>
        <div class="wl-recommended-articles wl-grid">
          {{!-- {{> "loop" posts=related}} --}}
        </div>
      </div>
    </section>
  {{/if}}
{{/get}}
