<div class="wl-related-content">
    <h2 id="{{title}}">{{title}}</h2>
    {{#if pages}}
        <div class="swiper js-related-slider">
            <div class="swiper-wrapper">
                {{#foreach pages}}
                    {{> "card" custom_class="swiper-slide" }}
                {{/foreach}}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    {{else}}
        <p>{{t "No work experience found"}}</p>
    {{/if}}
</div>
