<ul class="wl-tag">
    {{#foreach tags}}
        <li class="wl-tag-item">
            {{#if ../link_tag}}
                <a class="wl-tag-link" href="{{url}}">{{name}}</a>
            {{else}}
                <span>{{name}}</span>
            {{/if}}
        </li>
    {{/foreach}}
</ul>