<footer class="wl-foot">
    <div class="wl-container">
        <div class="wl-foot-meta">
            <p id="copyright">© {{date format="YYYY"}} {{@site.title}}</p>
            {{> "social"}}
        </div>
    </div>
</footer>