{{!< default}}
<div class="wl-page">
    <div class="wl-container">

        <div class="wl-postfeed">
        {{#foreach posts}}

            {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

        {{!-- If JS isn't enabled, fallback to standard pagination --}}
        <noscript>
            <div class="wl-pagination">
                {{pagination}}
            </div>
        </noscript>
    </div>
</div>
