{{!< default }}
<div id="category-post-list" class="wl-page" style="--post-length: {{posts.length}};" >
    <div class="wl-container">
        {{#get "tags" limit="all" include="count.posts"}}
            {{> "post-tag" all_text="All" add_class="wl-category" link_tag=true use_all=true tag=../tag}} {{!-- partials/post-tag.hbs --}}
        {{/get}}
        {{#if posts}}
            <div class="wl-postfeed-row">
                {{#foreach posts}}
                    {{> "card"}} {{!-- partials/card.hbs --}}
                {{/foreach}}
            </div>
        {{else}}
            {{> "not-found"}}
        {{/if}}

        {{pagination}}
    </div>
</div>

