/* Global Header
/* ---------------------------------------------------------- */
.wl-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 var(--spacing-6);
    font-size: 1.6rem;
    line-height: 1.3;
    background: inherit;
    z-index: 10;
}

.wl-head a {
    color: inherit;
    text-decoration: none;
}

.wl-head-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

/* Brand
/* ---------------------------------------------------------- */
.wl-head-brand {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    max-width: 200px;
    text-align: center;
    word-break: break-all;
}

.wl-head-logo {
    display: block;
    padding: 10px 0;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.2em;
}

.wl-head-logo img {
    max-height: 40px;
}

/* Primary Navigation
/* ---------------------------------------------------------- */
.wl-head-menu {
    position: relative;
    display: flex;
    align-items: center;
}

.wl-head-menu-mobile {
    display: none;
}

.wl-head-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.wl-head-menu .nav li {
    margin: 0 1.5vmin 0 0;
    padding: 0;
    text-transform: uppercase;
}

.wl-head-menu .nav a {
    display: inline-block;
    padding: 5px 0;
}

.wl-head-menu .nav li.nav-current a {
    font-weight: bold;
    text-decoration: none;
}

/* Secondary Navigation
/* ---------------------------------------------------------- */

.wl-head-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-align: right;
}

.wl-head-actions-list {
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.wl-head-actions-list a:not([class]) {
    display: inline-block;
    margin: 0 0 0 1.5vmin;
    padding: 5px 0;
}

/* Mobile Menu Trigger
/* ---------------------------------------------------------- */
.wl-mobile-menu-button {
    position: relative;
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0;
    border: 0;
    background: none;
    color: inherit;
    cursor: pointer;
}

.wl-head-open .wl-burger-box::before {
    width: 0;
    transform: translatex(19px);
    transition:
        transform 200ms cubic-bezier(0.2, 0.7, 0.3, 1),
        width 200ms cubic-bezier(0.2, 0.7, 0.3, 1);
}

.wl-head-open .wl-burger-inner::before {
    width: 26px;
    transform: translatex(6px) rotate(135deg);
}

.wl-head-open .wl-burger-inner::after {
    width: 26px;
    transform: translatex(6px) rotate(-135deg);
}

/* Layout Variants
/* ---------------------------------------------------------- */

.wl-head-brandnavactions .wl-head-brand {
    grid-column-start: 1;
}

.wl-head-brandnav .wl-container {
    grid-gap: 0;
    grid-template-columns: auto max-content max-content;
}
.wl-head-brandnav .wl-head-brand {
    grid-column-start: 1;
}
.wl-head-brandnav .wl-head-menu {
    margin-left: 40px;
}

.wl-head-brandnav .wl-head-menu .nav li {
    margin: 0 0 0 1.5vmin;
    padding: 0;
}

/* Center Stacked */
.wl-head-stacked .wl-container {
    grid-template-columns: 1fr;
    grid-gap: 2vmin;
}
.wl-head-stacked .wl-head-brand {
    grid-column-start: 1;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.wl-head-stacked .wl-head-menu,
.wl-head-stacked .wl-head-actions,
.wl-head-stacked .wl-head-actions-list {
    justify-content: center;
}

.wl-head-stacked .wl-head-actions a:first-child svg {
    margin-left: 0;
}

/* Mobile Menu
/* ---------------------------------------------------------- */
/* IDs needed to ensure sufficient specificity */

#wl-mobile-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
}

#wl-mobile-menu.is-active {
    visibility: visible;
    opacity: 1;
}

#wl-mobile-menu .wl-mobile-menu-inner {
    position: absolute;
    top: var(--spacing-4);
    right: var(--spacing-4);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
    padding: var(--spacing-4);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    background: var(--color-primary-100);
    z-index: 1;
}

.wl-mobile-menu-inner .wl-mobile-menu-button {
    position: absolute;
    top: var(--spacing-4);
    right: var(--spacing-4);
}

#wl-mobile-menu .nav {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4) 0;
    margin: 0;
    list-style: none;
    font-weight: 500;
    font-size: 1em;
    text-align: left;
    padding-bottom: var(--spacing-4);
}

/* #wl-mobile-menu .nav li.nav-current a {
    font-weight: bold;
    text-decoration: none;
} */

#wl-mobile-menu .nav li {
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    line-height: 1.35;
}

#wl-mobile-menu .wl-mobile-menu-dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.2rem);
    z-index: 0;
}

/* darkmode toggle */
.wl-toggle-darkmode {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wl-toggle-darkmode .icon-light,
.wl-toggle-darkmode .icon-dark {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    transition: all 0.4s ease;
}
.wl-toggle-darkmode label {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}

[data-theme='light'] .icon-dark {
    display: none;
}

[data-theme='dark'] .icon-light {
    display: none;
}

#wl-mobile-menu .wl-toggle-darkmode {
    justify-content: flex-end;
}

@media (max-width: 900px) {
    .wl-head {
        padding: 0 var(--spacing-4);
    }

    #wl-mobile-menu {
        display: block;
    }

    .wl-head-menu-mobile {
        display: flex;
    }

    .wl-head-actions a:not(.wl-button) {
        padding: 0;
    }

    .wl-head-menu-desktop {
        display: none;
    }

    .wl-mobile-menu-button {
        display: inline-flex;
    }

    #wl-head .wl-head-inner {
        height: 100%;
        grid-template-columns: 1fr;
    }
    #wl-head .wl-head-brand {
        position: relative;
        z-index: 10;
        grid-column-start: auto;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }
    #wl-head .wl-head-logo {
        font-size: 2.2rem;
    }
    #wl-head .wl-head-logo img {
        max-height: 40px;
    }
}
