.wl-resume {
    position: relative;
}

.wl-resume .last-updated {
    display: block;
    max-width: var(--container-width);
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    pointer-events: none;
    z-index: 3;
}

.last-updated p {
    display: inline-flex;
    gap: 0.4rem;
    font-size: 1.3rem;
    color: var(--color-secondary);
    background-color: var(--color-primary-100);
    border-top-left-radius: var(--spacing-2);
    border-top-right-radius: var(--spacing-2);
    padding: var(--spacing-1) var(--spacing-2);
}

.wl-related-content + .wl-related-content {
    margin-top: 8vmin;
}

.wl-related-content > h2 ~ * {
    margin-top: 6vmin;
}

.wl-related-content .wl-card-title {
    font-size: 2.4rem;
}

.wl-related-content .wl-card-meta {
    display: none;
}

.wl-related-content .post-meta .wl-related-content h3 {
    margin-top: 1.5rem;
}
