.wl-content {
    position: relative;
}

.wl-toc > .toc-list {
    position: relative;
}

.toc-list {
    overflow: hidden;
    list-style: none;
    /* display: flex;
    flex-direction: column; */
}

.toc-list .toc-list {
    margin-left: 0.4rem;
}

a.toc-link {
    display: inline-flex;
    align-items: center;
    min-height: 3rem !important;
    margin: 0 0 0 1rem;
    word-break: keep-all;
    font-size: 1.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: var(--spacing-2);
}

.toc-link::before {
    width: 0.4rem !important;
    border-radius: 0.2rem;
    min-height: inherit !important;
    height: auto !important;
}

[data-theme='dark'] .toc-link::before {
    background-color: rgba(255, 255, 255, 0.25);
}

[data-theme='light'] .toc-link::before {
    background-color: rgba(0, 0, 0, 0.25);
}

.wl-toc .is-active-link::before {
    background-color: var(--color-secondary) !important;
}

@media (min-width: 1300px) {
    .wl-sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: 4vmin;
        grid-column: wide-start / main-start; /* Place the TOC to the left of the content */
    }

    .wl-toc {
        position: sticky; /* On larger screens, TOC will stay in the same spot on the page */
        top: var(--header-height);
    }
}
