/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import 'vars.css';
@import 'components/global.css';
@import 'components/forms.css';
@import 'components/buttons.css';

/* Ghost components */
@import 'ghost/header.css';
@import 'ghost/content.css';
@import 'ghost/readmore.css';
@import 'ghost/members.css';
@import 'ghost/errors.css';
@import 'ghost/footer.css';
@import 'ghost/badge.css';
@import 'ghost/pagination.css';
@import 'ghost/comments.css';

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.wl-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ffffff;
}

.wl-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.wl-page {
    padding: 0 4vmin;
}

.wl-article {
    padding: 8vmin 0;
}

.wl-postfeed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 4.8vmin 4vmin;
    padding: 8vmin 0;
}

.wl-postfeed > *:first-child {
    grid-column: 1 / -1;
}

.wl-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.wl-head-actions a:not(.wl-button) {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.wl-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.wl-head-actions a:first-child svg {
    margin-left: 20px;
}

.wl-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

/* .wl-card:not(:first-child) {
    margin: 8vmin auto 0;
} */

.wl-card-link {
    display: flex;
    flex-direction: column;
}

.wl-card-image {
    width: 100%;
    /* max-height: 700px; */
    object-fit: cover;
    margin-bottom: 4vmin;
    aspect-ratio: 1 / 1;
}

.wl-card-image:first-of-type {
    aspect-ratio: 16 / 9;
}

.wl-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.wl-card-content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem;
}

.wl-card-content p {
    margin: 1.2rem 0;
    padding: 0 3vmin;
}

.wl-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.75;
}

/* Page
/* ---------------------------------------------------------- */

.wl-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.wl-page-image {
    margin: 4vmin 0 0 0;
}

.wl-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .wl-page-head > p {
        font-size: 1.6rem;
    }
}

/* Post
/* ---------------------------------------------------------- */

.wl-header {
    padding: 0 0 8vmin 0;
    text-align: center;
}

.wl-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.wl-excerpt {
    margin: 1rem 0 0 0;
}

.wl-feature-image {
    grid-column: wide-start / wide-end;
    width: 100%;
    margin: 8vmin 0 0;
}

.wl-feature-image img {
    margin-inline: auto;
    width: 100%;
}

.wl-post-footer {
    margin: 2rem 0;
}

/* Author Archive
/* ---------------------------------------------------------- */

.wl-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.wl-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.wl-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wl-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.wl-author-links a + a:before {
    display: block;
    content: '';
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0, 0, 0, 0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .wl-author-meta {
        font-size: 1.6rem;
    }
}
