html.is-changing {
    pointer-events: none;
    cursor: wait;
}

.swup-progress-bar {
    z-index: 10000;
    height: 4px;
    background: var(--color-secondary);
}

#category-post-list.is-changing {
    --duration-leave: 150ms;
    --duration-enter: 400ms;
    --delay: 50ms;
    transition-delay: calc(var(--delay) * var(--post-length, 0));
    transition-duration: var(--duration-enter);
}

#category-post-list.is-leaving {
    transition-duration: var(--duration-leave);
}

#category-post-list.is-changing .wl-card {
    transition-property: opacity, transform;
    transition-delay: calc(var(--delay) * var(--index, 0));
    transition-duration: var(--duration-enter);
    transition-timing-function: cubic-bezier(
        0.23,
        1,
        0.32,
        1
    ); /* easeOutQuint */
}

#category-post-list.is-animating .wl-card {
    opacity: 0;
    transform: scale(0.9);
}

/* Change easing and duration for the leave-phase */
#category-post-list.is-leaving .wl-card {
    transition-timing-function: ease-in;
    transition-delay: calc(var(--delay) * var(--index, 0));
    transition-duration: var(--duration-leave);
}

@media (max-width: 768px) {
    .swup-progress-bar {
        height: 2px;
    }
}
