/* Buttons
/* ---------------------------------------------------------- */
.wl-button {
    display: inline-flex;
    min-width: 7.6rem;
    height: var(--height);
    padding: 0 2rem;
    border: 0;
    border-radius: var(--radius);
    cursor: pointer;
    font-family: var(--font-sans);
    font-size: 1.4rem;
    font-weight: var(--font-medium);
    line-height: var(--height);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    appearance: none;
    transition: 0.4s ease;
    gap: 0.4rem;
}

.wl-button.wl-button-fit {
    width: 100%;
    justify-content: center;
}

.wl-button svg {
    width: 1.2rem;
    height: 1.2rem;
}

.wl-button-rounded {
    border-radius: 9999px;
}

.wl-button.wl-button-small {
    height: calc(var(--height) * 0.9);
    line-height: calc(var(--height) * 0.9);
    padding: 0 1.5rem;
    font-size: 1.2rem;
}

.wl-button.wl-button-large {
    height: calc(var(--height) * 1.2);
    line-height: calc(var(--height) * 1.2);
    padding: 0 2.5rem;
    font-size: 1.7rem;
}

.wl-button.wl-button-disabled,
.wl-button:disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}

.wl-button {
    color: inherit;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px currentColor;
}

.wl-button:hover {
    text-decoration: none;
    color: var(--color-primary) !important;
    box-shadow: inset 0 0 0 1px var(--color-secondary);
    background-color: var(--color-secondary);
    transition: 0.2s ease;
}

.wl-button.wl-button-primary {
    color: var(--color-secondary) !important;
    background-color: var(--color-primary);
    box-shadow: none;
}

.wl-button.wl-button-primary:hover {
    background-color: var(--color-primary);
}
