/* .wl-card:not(:first-child) {
    margin: 8vmin auto 0;
} */

.wl-card-link {
    display: flex;
    flex-direction: column;
}

.wl-card-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.wl-card-featured {
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: var(--spacing-3);
    top: var(--spacing-3);
    padding: var(--spacing-1) var(--spacing-2);
    color: var(--color-primary);
    background: var(--color-secondary);
    gap: var(--spacing-1);
    border-radius: 0.8rem;
    font-weight: 500;
}

.wl-card-featured svg {
    width: 1.8rem;
    height: 1.8rem;
    color: var(--color-featured);
}

.wl-card {
    position: relative;
    --card-padding: 1.4rem;
    border-radius: 0.9rem;
    padding: var(--card-padding);
    background: var(--color-secondary);
    color: var(--color-primary);
}

.wl-card-picture {
    position: relative;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    margin: calc(var(--card-padding) * -1) calc(var(--card-padding) * -1) 0;
    overflow: hidden;
    margin-bottom: var(--card-padding);
    border: 2px solid var(--color-secondary);
}

.wl-card-picture::before {
    content: '';
    display: block;
    padding-top: 56.25%;
    border-radius: inherit;
}

.wl-card-picture img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wl-card-picture.no-image p {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 2.4rem;
    background: var(--color-primary);
    color: var(--color-secondary);
    font-weight: 500;
    border-radius: inherit;
}

.wl-card-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    gap: 0.6rem;
}

.wl-card-content {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.wl-card-content p {
    margin: 1.2rem 0;
    padding: 0;
}

.wl-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.75;
}

.wl-card-stack {
    display: flex;
    text-align: left;
}

.wl-card-stack > * {
    flex: 1;
}

.wl-card-stack .wl-card-content {
    padding: 0;
    text-align: left;
}

.wl-card-stack .wl-card-meta {
    margin: 0;
}

.wl-card-time {
    display: inline-flex;
    gap: 0.4rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .wl-card {
        --card-padding: 1.2rem;
    }
}
